.thank-you-page h2 + p, .main-banner .main__flex-line .onboarding__add-info .onboarding__time + p, .fieldset__payment__tag, .swiper-slide.member-info .member-info__skill, .swiper-slide.member-info .member-info__text {
  font-family: "Manrope-Regular", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 1440px) {
  .thank-you-page h2 + p, .main-banner .main__flex-line .onboarding__add-info .onboarding__time + p, .fieldset__payment__tag, .swiper-slide.member-info .member-info__skill, .swiper-slide.member-info .member-info__text {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  .thank-you-page h2 + p, .main-banner .main__flex-line .onboarding__add-info .onboarding__time + p, .fieldset__payment__tag, .swiper-slide.member-info .member-info__skill, .swiper-slide.member-info .member-info__text {
    font-size: 22px;
  }
}

* {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-banner {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 233px;
  position: relative;
  padding-bottom: 48px;
}
@media (min-width: 1921px) {
  .main-banner {
    max-width: 100%;
  }
}
@media (max-width: 1600px) {
  .main-banner {
    padding-top: 141px;
  }
}
@media (max-width: 1350px) {
  .main-banner {
    padding-top: 137px;
  }
}
@media (max-width: 991px) {
  .main-banner {
    height: -moz-max-content;
    height: max-content;
    padding-top: 123px;
  }
}
@media (max-width: 767px) {
  .main-banner {
    padding-top: 104px;
  }
}
.main-banner.section-container {
  overflow: hidden;
}
.main-banner .img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  width: 49%;
  z-index: -1;
  max-width: 944px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .main-banner .img-wrapper {
    height: auto;
    order: 1;
    margin-bottom: 37px;
    width: calc(100% + 36px);
    left: -18px;
    position: relative;
    min-height: auto;
  }
}
@media (max-width: 767px) {
  .main-banner .img-wrapper {
    margin-bottom: 30px;
  }
}
.main-banner .img-wrapper img {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 991px) {
  .main-banner .img-wrapper img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .main-banner .main__flex-line {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .main-banner .main__flex-line .main-info {
    order: 0;
  }
}
.main-banner .main__flex-line .main-info .title-wrapper {
  position: relative;
  z-index: 10;
}
.main-banner .main__flex-line .main-info p {
  margin-bottom: 16px;
}
@media (max-width: 1600px) {
  .main-banner .main__flex-line .main-info p {
    letter-spacing: 4.32px;
  }
}
@media (max-width: 1350px) {
  .main-banner .main__flex-line .main-info p {
    letter-spacing: 3.36px;
  }
}
@media (max-width: 991px) {
  .main-banner .main__flex-line .main-info p {
    margin-bottom: 8px;
  }
}
.main-banner .main__flex-line .main-info h1 {
  max-width: 879px;
  margin-bottom: 54px;
  width: 50%;
}
@media (max-width: 1600px) {
  .main-banner .main__flex-line .main-info h1 {
    width: 40%;
    margin-bottom: 44px;
  }
}
@media (max-width: 1350px) {
  .main-banner .main__flex-line .main-info h1 {
    margin-bottom: 36px;
  }
}
@media (max-width: 1200px) {
  .main-banner .main__flex-line .main-info h1 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .main-banner .main__flex-line .main-info h1 {
    margin-bottom: 16px;
    width: 100%;
  }
}
.main-banner .btn-call-to-action {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font: 22px/1.2 "Manrope-Medium", sans-serif;
  color: #2584F4;
  border: 2px solid #2584F4;
  background-color: #ffffff;
  border-radius: 96px;
  padding: 17px 46px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
@media (max-width: 1600px) {
  .main-banner .btn-call-to-action {
    font-size: 18px;
  }
}
@media (max-width: 1350px) {
  .main-banner .btn-call-to-action {
    font-size: 16px;
    padding: 12px 31px;
  }
}
@media (max-width: 991px) {
  .main-banner .btn-call-to-action {
    font-size: 18px;
    padding: 15px 31px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 56px;
    width: 85%;
    max-width: 263px;
    height: -moz-max-content;
    height: max-content;
  }
}
.main-banner .btn-call-to-action:hover, .main-banner .btn-call-to-action:focus {
  border-color: #1A2D6B;
  transition: all 0.3s ease;
  color: #1A2D6B;
}
.main-banner .featured-in {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 1100px) {
  .main-banner .featured-in {
    position: static;
  }
}
@media (max-width: 767px) {
  .main-banner .featured-in {
    display: none;
  }
}
.main-banner .featuredSwiper {
  display: none;
}
@media (max-width: 767px) {
  .main-banner .featuredSwiper {
    display: block;
  }
}
.main-banner .featuredSwiper .swiper-wrapper {
  align-items: center;
}
.main-banner .featured-in__item:not(:last-child) {
  margin-right: 56px;
}
@media (max-width: 1600px) {
  .main-banner .featured-in__item:not(:last-child) {
    margin-right: 38px;
  }
}
@media (max-width: 1350px) {
  .main-banner .featured-in__item:not(:last-child) {
    margin-right: 20px;
  }
}

.title-info {
  font: 24px/1.2 "Manrope-Bold", sans-serif;
  color: #2584F4;
  letter-spacing: 5.76px;
  text-transform: uppercase;
}
@media (max-width: 1600px) {
  .title-info {
    font-size: 18px;
    letter-spacing: 4.32px;
  }
}
@media (max-width: 1350px) {
  .title-info {
    font-size: 14px;
    letter-spacing: 3.36px;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #E8EAF0;
  border-radius: 50%;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px !important;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2584F4;
}

.section-container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 197px;
  width: 100%;
}
@media (max-width: 1600px) {
  .section-container {
    padding: 0 112px;
  }
}
@media (max-width: 1250px) {
  .section-container {
    padding: 0 56px;
  }
}
@media (max-width: 991px) {
  .section-container {
    padding: 0 16px;
  }
}

h1 {
  font: 88px/1.1 "Manrope-Light";
  color: #1A2D6B;
}
@media (max-width: 1600px) {
  h1 {
    font-size: 64px;
  }
}
@media (max-width: 1350px) {
  h1 {
    font-size: 56px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 39px;
  }
}

.btn-main {
  display: block;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2584F4;
  border-radius: 96px;
  font-family: "Manrope-Medium";
  font-size: 18px;
  color: #ffffff;
  padding: 17px 51px;
  box-shadow: none;
  border: none;
}
@media (min-width: 1600px) {
  .btn-main {
    padding: 17px 48px;
    font-size: 22px;
  }
}
.btn-main:hover {
  background-color: #1A2D6B;
  cursor: pointer;
}

h2 {
  font: 32px/1.3 "Manrope-Light", sans-serif;
  color: #1A2D6B;
}
@media (min-width: 992px) {
  h2 {
    font-size: 40px;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 48px;
  }
}
@media (min-width: 1600px) {
  h2 {
    font-size: 64px;
  }
}

.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #F2F8FE;
  border-radius: 6px;
  transform: scale(1);
  transition: all 0.3s ease;
}
@media (min-width: 1920px) {
  .checkbox span:first-child {
    width: 30px;
    height: 30px;
  }
}

.checkbox span:first-child svg {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: transparent;
  opacity: 0.8;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(-50%, -50%, 0);
  width: 12px;
  height: 10px;
}
@media (min-width: 1920px) {
  .checkbox span:first-child svg {
    width: 16px;
    height: 15px;
  }
}
.checkbox span:first-child svg path {
  fill: transparent;
}

.checkbox span:last-child {
  padding-left: 19px;
  line-height: 18px;
  font: 16px/20.8px "Manrope-Regular", sans-serif;
  color: #F2F8FE;
  opacity: 0.8;
}

.checkbox-input:checked + .checkbox span:first-child {
  animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
.member-info {
  background-color: #F2F8FE;
  display: grid;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 0;
  align-items: center;
}
@media (min-width: 768px) {
  .member-info {
    gap: 32px;
    display: flex;
  }
}
.member-info__main-info {
  flex-grow: 1;
  padding: 48px;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.swiper-slide.member-info {
  font-size: 18px;
  background: #fff;
  padding: 24px;
  text-align: left;
  border-radius: 24px;
  position: relative;
  display: grid;
  grid-template-rows: max-content max-content;
}
@media (min-width: 768px) {
  .swiper-slide.member-info {
    padding: 32px;
    display: block;
    border-radius: 40px;
  }
}
@media (min-width: 1440px) {
  .swiper-slide.member-info {
    padding: 40px;
  }
}
@media (min-width: 1600px) {
  .swiper-slide.member-info {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
.swiper-slide.member-info .member-info__photo {
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}
@media (min-width: 991px) {
  .swiper-slide.member-info .member-info__photo {
    width: 96px;
    height: 96px;
  }
}
@media (min-width: 1440px) {
  .swiper-slide.member-info .member-info__photo {
    width: 120px;
    height: 120px;
  }
}
.swiper-slide.member-info .member-info__photo img {
  width: 100%;
  height: 100%;
}
.swiper-slide.member-info .member-info__name {
  font: 22px/1.3 "Manrope-SemiBold", sans-serif;
  color: #1A2D6B;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .swiper-slide.member-info .member-info__name {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .swiper-slide.member-info .member-info__name {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  .swiper-slide.member-info .member-info__name {
    font-size: 32px;
  }
}
.swiper-slide.member-info .member-info__text {
  margin-bottom: 24px;
}
.swiper-slide.member-info .member-info__title {
  font: 16px/1.3 "Manrope-Bold", sans-serif;
  text-transform: uppercase;
  color: #1A2D6B;
  margin-bottom: 8px;
  letter-spacing: 2.64px;
}
@media (min-width: 1600px) {
  .swiper-slide.member-info .member-info__title {
    font-size: 22px;
  }
}
.swiper-slide.member-info .member-info__skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.swiper-slide.member-info .member-info__skill {
  background-color: #F2F8FE;
  border-radius: 16px;
  padding: 8px 16px;
}

.members-list {
  position: relative;
  width: 100%;
}

.section__bg {
  animation: 0s linear 0s infinite normal none running jVXNyX;
  backface-visibility: hidden;
  height: 0px;
  position: absolute;
  top: 6rem;
  transform-origin: center center;
  width: 120%;
  z-index: 1;
  overflow: visible;
  position: relative;
}
.section__bg .section__bg__item {
  left: 50%;
  position: absolute;
  top: 0px;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
.section__bg .section__bg__item:nth-child(1) {
  width: 100%;
  right: -106%;
  left: auto;
  transform: translateX(-38%) translateY(-58%);
}
@media (min-width: 768px) {
  .section__bg .section__bg__item:nth-child(1) {
    width: 41%;
    right: -20%;
  }
}
.section__bg .section__bg__item:nth-child(2) {
  width: 100%;
  left: -22px;
  transform: translateX(-38%) translateY(-45%);
}
@media (min-width: 768px) {
  .section__bg .section__bg__item:nth-child(2) {
    width: 41%;
    left: 0;
  }
}
.section__bg .section__bg__item:nth-child(1) .bg-item {
  background: url("../../../../../media/img/ellipse1.png") center/cover no-repeat;
  animation: 10s linear 0s infinite normal none running jVXNyXLeft;
}
.section__bg .section__bg__item:nth-child(2) .bg-item {
  background: url("../../../../../media/img/ellipse2.png") center/cover no-repeat;
  animation: 10s linear 0s infinite normal none running jVXNyXRight;
}
.section__bg .bg-item {
  display: block;
  height: 0px;
  padding-bottom: 100%;
  background-size: cover;
  overflow: visible;
  transform-origin: center center;
  width: 100%;
  margin-left: -10%;
  backface-visibility: hidden;
}
.section__bg .bg-item.item-reverse {
  animation-direction: reverse;
  margin-left: 10%;
}

@keyframes jVXNyXRight {
  0% {
    transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  20% {
    transform: rotate(0deg) translate3d(10%, 50px, 0px);
  }
  40% {
    transform: rotate(0deg) translate3d(40%, 50px, 0px);
  }
  60% {
    transform: rotate(0deg) translate3d(80%, 50px, 0px);
  }
  80% {
    transform: rotate(0deg) translate3d(40%, 50px, 0px);
  }
  100% {
    transform: rotate(0) translate3d(0px, 0px, 0px);
  }
}
@keyframes jVXNyXLeft {
  0% {
    transform: rotate(0deg) translate3d(0px, 0px, 0px);
  }
  20% {
    transform: rotate(0deg) translate3d(-10%, 50px, 0px);
  }
  40% {
    transform: rotate(0deg) translate3d(-40%, 50px, 0px);
  }
  60% {
    transform: rotate(0deg) translate3d(-80%, 50px, 0px);
  }
  80% {
    transform: rotate(0deg) translate3d(-40%, 50px, 0px);
  }
  100% {
    transform: rotate(0) translate3d(0px, 0px, 0px);
  }
}
.btn-call-to-action {
  display: block;
  width: -moz-max-content;
  width: max-content;
  font: 22px/1.2 "Manrope-Medium", sans-serif;
  color: #2584F4;
  border: 2px solid #2584F4;
  background-color: #ffffff;
  border-radius: 96px;
  padding: 17px 46px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
@media (max-width: 1600px) {
  .btn-call-to-action {
    font-size: 18px;
  }
}
@media (max-width: 1350px) {
  .btn-call-to-action {
    font-size: 16px;
    padding: 12px 31px;
  }
}
@media (max-width: 991px) {
  .btn-call-to-action {
    font-size: 18px;
    padding: 15px 31px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 56px;
    width: 85%;
    max-width: 263px;
    height: -moz-max-content;
    height: max-content;
  }
}
.btn-call-to-action:hover, .btn-call-to-action:focus {
  border-color: #1A2D6B;
  transition: all 0.3s ease;
  color: #1A2D6B;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

.top-header {
  padding: 122px 0 24px 0;
}
@media (min-width: 1280px) {
  .top-header {
    padding-top: 145px;
    padding-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .top-header {
    padding-top: 145px;
    padding-bottom: 36px;
  }
}
@media (min-width: 1920px) {
  .top-header {
    padding-top: 163px;
    padding-bottom: 44px;
  }
}

.stepper {
  min-height: 100vh;
  padding-bottom: 72px;
}
@media (min-width: 992px) {
  .stepper {
    padding-bottom: 144px;
  }
}
.stepper__wrapper {
  max-width: 876px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 1440px) {
  .stepper__wrapper {
    max-width: 1010px;
  }
}
@media (min-width: 1920px) {
  .stepper__wrapper {
    max-width: 1271px;
  }
}
.stepper h1 {
  font: 24px/1.2 "Manrope-Light", sans-serif;
  margin-bottom: 24px;
  color: #1A2D6B;
}
@media (min-width: 1280px) {
  .stepper h1 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1920px) {
  .stepper h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .form-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1280px) {
  .form-card {
    gap: 32px;
  }
}
@media (min-width: 1920px) {
  .form-card {
    margin-bottom: 14px;
  }
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

.btns-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
}

#msform .action-button {
  background: #2584F4;
  color: #ffffff;
  border: 0 none;
  border-radius: 96px;
  border: 1px solid #2584F4;
  cursor: pointer;
  padding: 16px 30px;
  margin-left: auto;
  font: 18px/1.3 "Manrope-Medium", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
}
@media (min-width: 768px) {
  #msform .action-button {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1280px) {
  #msform .action-button {
    font-size: 16px;
    padding: 15px 48px;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  #msform .action-button {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  #msform .action-button {
    font-size: 22px;
  }
}
#msform .action-button.next::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("/media/formstepper/common-icons/Arrow-next.svg") center/contain no-repeat;
}
@media (min-width: 1920px) {
  #msform .action-button.next::after {
    width: 32px;
    height: 32px;
  }
}
#msform .action-button.next:hover, #msform .action-button.next:active {
  background-color: #1A2D6B;
  transition: all 0.2s ease-in-out;
}
#msform .action-button.next:focus {
  border-color: transparent;
}

#msform .action-button:hover,
#msform .action-button:focus {
  border: 1px solid #1A2D6B;
  transition: all 0.2s ease-in-out;
}

#msform .action-button-previous {
  display: none;
  background: #ffffff;
  color: #2584F4;
  border: 1px solid #2584F4;
  border-radius: 96px;
  cursor: pointer;
  padding: 16px 30px;
  font: 18px/1.3 "Manrope-Medium", sans-serif;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease-in-out;
  width: 95%;
  max-width: 285px;
}
@media (min-width: 768px) {
  #msform .action-button-previous {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1280px) {
  #msform .action-button-previous {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  #msform .action-button-previous {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  #msform .action-button-previous {
    font-size: 22px;
  }
}
#msform .action-button-previous svg {
  width: 24px;
  height: 24px;
}
@media (min-width: 1920px) {
  #msform .action-button-previous svg {
    width: 32px;
    height: 32px;
  }
}
#msform .action-button-previous svg path {
  stroke: #2584F4;
  transition: all 0.2s ease-in-out;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  color: #1A2D6B;
  border: 1px solid #1A2D6B;
  transition: all 0.2s ease-in-out;
}
#msform .action-button-previous:hover svg path,
#msform .action-button-previous:focus svg path {
  stroke: #1A2D6B;
  transition: all 0.2s ease-in-out;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #673AB7;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #673AB7;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

.progress {
  height: 8px;
}

.fit-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.progress {
  display: flex;
  overflow: hidden;
  border-radius: 16px;
  background-color: #F2F8FE;
  margin-bottom: 24px;
}
@media (min-width: 1280px) {
  .progress {
    margin-bottom: 32px;
  }
}
@media (min-width: 1920px) {
  .progress {
    margin-bottom: 40px;
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #2584F4;
  border-radius: 16px;
  transition: width 0.6s ease;
}

.progress-bar-animated {
  animation: progress-bar-stripes 1s linear infinite;
}

.fieldset label:not(.checkbox-add-text) > span {
  display: flex;
  gap: 10px;
  align-items: center;
  font: 16px/1.1 "Manrope-Medium", sans-serif;
  color: #1A2D6B;
}
@media (min-width: 1440px) {
  .fieldset label:not(.checkbox-add-text) > span {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .fieldset label:not(.checkbox-add-text) > span {
    font-size: 22px;
  }
}

.fieldset label {
  display: block;
  background-color: #F2F8FE;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
.fieldset label input {
  position: absolute;
  opacity: 0;
  outline: none;
}
.fieldset label input:checked + span .radio-img::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.fieldset label input:checked + span:hover .radio-img:before {
  box-shadow: inset 0 0 0 0.125em #2584F4;
}
.fieldset label > span {
  padding: 24px;
  transition: 0.25s ease;
  position: relative;
  text-align: left;
  height: 100%;
}
@media (min-width: 1440px) {
  .fieldset label > span {
    padding: 32px;
  }
}
.fieldset label.checkbox-add-text {
  align-items: flex-start;
}
.fieldset label.checkbox-add-text > span {
  display: grid;
  gap: 12px;
}
.fieldset label .checkbox__info {
  font: 22px/1.3 "Manrope-Medium", sans-serif;
  color: #1A2D6B;
}
.fieldset label .checkbox__info__add-info {
  font: 16px/1.44 "Manrope-Regular", sans-serif;
  color: #485789;
  opacity: 1;
  padding-left: 0;
}

#step6 label > span, #step8_4 label > span, #step8_5 label > span, #step8_6 label > span {
  align-items: flex-start;
}

#step8_1 label > span {
  flex-direction: column;
  align-items: flex-start;
}

.radio-img {
  position: relative;
}
.radio-img:hover:before {
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #1A2D6B;
}
.radio-img:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #2584F4;
}
.radio-img::after {
  opacity: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: #2584F4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-50%, -50%);
  border-radius: 100%;
  transition: scale 0.2s ease;
}

.formFieldset-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 23px;
}
@media (min-width: 992px) {
  .formFieldset-wrapper {
    grid-template-columns: auto 38.5%;
    gap: 32px;
  }
}

.fieldset__payment {
  background-color: #F2F8FE;
  padding: 24px;
  text-align: left;
  position: sticky;
  top: 10px;
}
@media (min-width: 1280px) {
  .fieldset__payment {
    padding: 32px;
  }
}
@media (min-width: 1440px) {
  .fieldset__payment {
    padding: 40px;
  }
}
@media (min-width: 1920px) {
  .fieldset__payment {
    padding: 48px;
  }
}
.fieldset__payment__title {
  font: 20px/1.3 "Manrope-SemiBold", sans-serif;
  color: #1A2D6B;
  margin-bottom: 24px;
}
@media (min-width: 1280px) {
  .fieldset__payment__title {
    font-size: 22px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .fieldset__payment__title {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .fieldset__payment__title {
    font-size: 32px;
  }
}
.fieldset__payment__summ {
  display: flex;
  align-items: center;
  gap: 16px;
  font: 32px/1.3 "Manrope-Light", sans-serif;
  margin-bottom: 24px;
  color: #1A2D6B;
}
@media (min-width: 1280px) {
  .fieldset__payment__summ {
    font-size: 40px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .fieldset__payment__summ {
    font-size: 48px;
  }
}
@media (min-width: 1920px) {
  .fieldset__payment__summ {
    font-size: 64px;
  }
}
.fieldset__payment__summ img {
  width: 24px;
  height: 24px;
}
@media (min-width: 1280px) {
  .fieldset__payment__summ img {
    width: 32px;
    height: 32px;
  }
}
.fieldset__payment__summ span {
  filter: blur(14px);
}
.fieldset__payment__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 32px;
}
@media (min-width: 1440px) {
  .fieldset__payment__tags {
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .fieldset__payment__tags {
    margin-bottom: 48px;
  }
}
.fieldset__payment__tag {
  color: #1A2D6B;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #ffffff;
}
.fieldset__payment__info {
  padding: 24px;
  border-radius: 32px;
  background-color: #ffffff;
  text-align: center;
}
@media (min-width: 1920px) {
  .fieldset__payment__info {
    padding: 32px;
  }
}
.fieldset__payment__info p {
  font: 16px/1.3 "Manrope-Medium", sans-serif;
  color: #8692B4;
}
@media (min-width: 1440px) {
  .fieldset__payment__info p {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  .fieldset__payment__info p {
    font-size: 22px;
  }
}
.fieldset__payment__info p a {
  color: #2584F4;
  transition: all 0.2s ease-in-out;
}
.fieldset__payment__info p a:hover {
  cursor: pointer;
  color: #1A2D6B;
  transition: all 0.2s ease-in-out;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkbox__input {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
}
.checkbox__input:checked + span .checkbox__icon .tick {
  opacity: 1;
  width: 100%;
  transition: all 0.2s ease-out;
}
.checkbox__icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: visible;
  position: relative;
}
.checkbox__icon .tick {
  position: absolute;
  opacity: 0;
  width: 0;
  transition: all 0.2s ease-out;
}
.checkbox__label {
  display: flex;
  align-items: center;
}

.radius, .checkbox.radius {
  border-radius: 24px;
}
@media (min-width: 768px) {
  .radius, .checkbox.radius {
    border-radius: 32px;
  }
}
@media (min-width: 1920px) {
  .radius, .checkbox.radius {
    border-radius: 40px;
  }
}

.onboarding.pl-site.main-banner {
  padding-bottom: 80px;
  padding-top: 96px;
}
@media (min-width: 1440px) {
  .onboarding.pl-site.main-banner {
    padding-top: 217px;
  }
}
@media (min-width: 1920px) {
  .onboarding.pl-site.main-banner {
    padding-top: 243px;
  }
}
.onboarding.pl-site.main-banner h1 {
  margin-bottom: 24px;
}
@media (min-width: 1280px) {
  .onboarding.pl-site.main-banner h1 {
    margin-bottom: 16px;
  }
}
@media (min-width: 1920px) {
  .onboarding.pl-site.main-banner h1 {
    margin-bottom: 32px;
  }
}
.onboarding.pl-site.main-banner .btn-block {
  order: 4;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .onboarding.pl-site.main-banner .btn-block {
    order: inherit;
    justify-content: flex-start;
  }
}
.onboarding.pl-site.main-banner .title-info {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .onboarding.pl-site.main-banner .title-info {
    margin-bottom: 32px;
  }
}
.onboarding.pl-site.main-banner .img-wrapper {
  order: 1;
  margin-bottom: 0px;
}
@media (min-width: 992px) {
  .onboarding.pl-site.main-banner .img-wrapper {
    order: inherit;
    margin-bottom: 30px;
  }
}

.main-banner .main__flex-line .onboarding__add-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
  order: 3;
}
@media (min-width: 768px) {
  .main-banner .main__flex-line .onboarding__add-info {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .main-banner .main__flex-line .onboarding__add-info {
    order: inherit;
  }
}
@media (min-width: 1280px) {
  .main-banner .main__flex-line .onboarding__add-info {
    margin-bottom: 32px;
    gap: 24px;
  }
}
@media (min-width: 1440px) {
  .main-banner .main__flex-line .onboarding__add-info {
    margin-bottom: 40px;
  }
}
@media (min-width: 1920px) {
  .main-banner .main__flex-line .onboarding__add-info {
    margin-bottom: 48px;
    gap: 32px;
  }
}
.main-banner .main__flex-line .onboarding__add-info .onboarding__time {
  display: flex;
  align-items: center;
  font: 24px/1.3 "Manrope-Light", sans-serif;
  color: #1A2D6B;
  letter-spacing: normal;
}
@media (min-width: 1440px) {
  .main-banner .main__flex-line .onboarding__add-info .onboarding__time {
    font-size: 32px;
  }
}
@media (min-width: 1920px) {
  .main-banner .main__flex-line .onboarding__add-info .onboarding__time {
    font-size: 40px;
  }
}
.main-banner .main__flex-line .onboarding__add-info .onboarding__time::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url("/media/formstepper/common-icons/Time.svg") center/cover no-repeat;
  margin-right: 8px;
}
@media (min-width: 1440px) {
  .main-banner .main__flex-line .onboarding__add-info .onboarding__time::before {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1920px) {
  .main-banner .main__flex-line .onboarding__add-info .onboarding__time::before {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
}
.main-banner .main__flex-line .onboarding__add-info .onboarding__time + p {
  color: #485789;
  max-width: 305px;
  letter-spacing: normal !important;
}
.main-banner .main__flex-line .onboarding__add-info .onboarding__time + p b {
  color: #1A2D6B;
  font: "Manrope-Medium", sans-serif;
}

.onboarding .btn-block button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 46px;
}
@media (min-width: 1920px) {
  .onboarding .btn-block button {
    padding: 17px 51px;
  }
}
.onboarding .btn-block button::after {
  content: "";
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url("/media/formstepper/common-icons/Arrow-next.svg");
}

@media (max-width: 767px) {
  body {
    padding: 0 !important;
  }
}

.thank-you-page {
  padding-top: 98px;
}
@media (min-width: 1280px) {
  .thank-you-page {
    padding-top: 196px;
  }
}
@media (min-width: 1440px) {
  .thank-you-page {
    padding-top: 217px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page {
    padding-top: 242px;
  }
}
.thank-you-page > .section-container {
  padding-bottom: 80px;
}
@media (min-width: 1280px) {
  .thank-you-page > .section-container {
    padding-bottom: 96px;
  }
}
@media (min-width: 1440px) {
  .thank-you-page > .section-container {
    padding-bottom: 120px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page > .section-container {
    padding-bottom: 128px;
  }
}
.thank-you-page .title-info {
  letter-spacing: 2.64px;
  margin-bottom: 12px;
}
@media (min-width: 1280px) {
  .thank-you-page .title-info {
    margin-bottom: 16px;
  }
}
@media (min-width: 1440px) {
  .thank-you-page .title-info {
    margin-bottom: 24px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page .title-info {
    margin-bottom: 32px;
  }
}
.thank-you-page.main-banner {
  padding-bottom: 0;
}
.thank-you-page h2, .thank-you-page h2 + p {
  max-width: 100%;
}
@media (min-width: 1280px) {
  .thank-you-page h2, .thank-you-page h2 + p {
    max-width: 699px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page h2, .thank-you-page h2 + p {
    max-width: 879px;
  }
}
.thank-you-page h2 {
  margin-bottom: 12px;
}
@media (min-width: 1440px) {
  .thank-you-page h2 {
    margin-bottom: 16px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page h2 {
    margin-bottom: 24px;
  }
}
.thank-you-page h2 + p {
  color: #485789;
  margin-bottom: 24px;
}
@media (min-width: 992px) {
  .thank-you-page h2 + p {
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .thank-you-page h2 + p {
    margin-bottom: 56px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page h2 + p {
    margin-bottom: 62px;
  }
}
.thank-you-page h2 + p a {
  color: #2584F4;
  font-family: "Manrope-Medium", sans-serif;
  text-decoration: none;
  position: relative;
}
.thank-you-page h2 + p a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2584F4;
  transition: transform 0.4s, transform-origin 0s;
  transform: scaleX(0);
  transform-origin: right center;
  height: 1px;
}
.thank-you-page h2 + p a:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}
.thank-you-page .contact-block {
  display: grid;
  width: 83.4%;
  grid-template-columns: 1fr;
  gap: 24px;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .thank-you-page .contact-block {
    grid-template-columns: minmax(336px, 38.5%) auto;
  }
}
@media (min-width: 1920px) {
  .thank-you-page .contact-block {
    gap: 32px;
  }
}
.thank-you-page .contact-block .fieldset__payment {
  padding: 24px;
  max-width: 485px;
  position: static;
}
@media (min-width: 1280px) {
  .thank-you-page .contact-block .fieldset__payment {
    padding: 32px;
  }
}
@media (min-width: 1440px) {
  .thank-you-page .contact-block .fieldset__payment {
    padding: 40px;
  }
}
.thank-you-page .contact-block .fieldset__payment__summ {
  font-size: 32px;
  margin-bottom: 24px;
  gap: 12px;
}
@media (min-width: 992px) {
  .thank-you-page .contact-block .fieldset__payment__summ {
    font-size: 24px;
    margin-bottom: 12px;
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .thank-you-page .contact-block .fieldset__payment__summ {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
@media (min-width: 1920px) {
  .thank-you-page .contact-block .fieldset__payment__summ {
    font-size: 40px;
  }
}
.thank-you-page .contact-block .fieldset__payment__summ:nth-child(4) {
  margin-bottom: 24px;
}
@media (min-width: 1920px) {
  .thank-you-page .contact-block .fieldset__payment__summ:nth-child(4) {
    margin-bottom: 32px;
  }
}
.thank-you-page .contact-block .fieldset__payment__tags {
  margin-bottom: 0;
}
.thank-you-page .contacts-form .formError + input {
  border-bottom: 1px solid #E83E30 !important;
}
.thank-you-page .contacts-form .input-wrapper {
  display: grid;
  row-gap: 12px;
  margin-bottom: 32px;
  position: relative;
}
@media (max-width: 1440px) {
  .thank-you-page .contacts-form .input-wrapper {
    margin-bottom: 24px;
  }
}
@media (max-width: 1100px) {
  .thank-you-page .contacts-form .input-wrapper {
    margin-bottom: 14px;
  }
}
@media (max-width: 740px) {
  .thank-you-page .contacts-form .input-wrapper {
    margin-bottom: 16px;
  }
}
.thank-you-page .contacts-form .contacts-form-label {
  font-family: "Manrope-Medium", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  color: #1A2D6B;
  background-color: transparent;
  margin-bottom: 0;
}
@media (max-width: 1440px) {
  .thank-you-page .contacts-form .contacts-form-label {
    font-size: 18px;
  }
}
@media (max-width: 740px) {
  .thank-you-page .contacts-form .contacts-form-label {
    font-size: 16px;
  }
}
.thank-you-page .contacts-form .add-text {
  height: 23px;
}
@media (max-width: 740px) {
  .thank-you-page .contacts-form .add-text {
    height: 19px;
  }
}
.thank-you-page .contacts-form .checkbox {
  font-family: "Manrope-Regular", sans-serif;
  font-size: 22px;
  line-height: 1.4;
  color: #485789;
  background-color: transparent;
}
.thank-you-page .contacts-form .checkbox a {
  color: #2584F4;
  position: relative;
  text-decoration: none;
}
.thank-you-page .contacts-form .checkbox a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2584F4;
  transition: transform 0.4s, transform-origin 0s;
  transform: scaleX(0);
  transform-origin: right center;
  height: 1px;
}
.thank-you-page .contacts-form .checkbox a:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}
.thank-you-page .contacts-form .checkbox span:last-child {
  color: #485789;
}
.thank-you-page .contacts-form .checkbox .checkmark {
  border-color: #485789;
  padding: 0;
}
@media (max-width: 740px) {
  .thank-you-page .contacts-form .checkbox .checkmark {
    width: 24px;
    height: 24px;
  }
}
.thank-you-page .contacts-form .checkbox .checkmark svg {
  stroke-dashoffset: 16px;
  animation: slide-in 1s forwards;
  transition: all 0.3s ease-in-out;
}
.thank-you-page .contacts-form .checkbox .checkmark + span {
  padding: 0;
}
.thank-you-page .contacts-form .checkbox.checkbox-checked .checkmark {
  border-color: #2584F4;
}
.thank-you-page .contacts-form .checkbox.checkbox-checked .checkmark svg {
  stroke-dashoffset: 0;
}
.thank-you-page .contacts-form .checkbox.checkbox-checked .checkmark svg path {
  fill: #2584F4;
}
.thank-you-page .contacts-form .checkbox span:last-child {
  opacity: 1;
  padding-left: 8px;
}
.thank-you-page .contacts-form .contact-form-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  background-color: #2584F4;
  padding: 18px 48px;
  border-radius: 96px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  width: -moz-max-content;
  width: max-content;
  justify-content: center;
}
@media (max-width: 1440px) {
  .thank-you-page .contacts-form .contact-form-btn {
    font-size: 18px;
  }
}
@media (max-width: 740px) {
  .thank-you-page .contacts-form .contact-form-btn {
    width: 100%;
    text-align: center;
  }
}
.thank-you-page .contacts-form .contact-form-btn:hover {
  background-color: #1A2D6B;
  cursor: pointer;
}
.thank-you-page .contacts-form .contact-form-btn.processing {
  background-color: #D0E6FF;
  color: #485789;
}
.thank-you-page .contacts-form .contact-form-btn.processing::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 29px;
  background: url("../../../../../media/img/preloader.svg") center/contain no-repeat;
}
.thank-you-page .contacts-form .checkbox-container {
  position: relative;
}
.thank-you-page .contacts-form .checkbox-container .formError {
  bottom: -32px;
  top: auto !important;
  left: 8px !important;
}
@media (max-width: 1100px) {
  .thank-you-page .contacts-form .checkbox-container .formError {
    bottom: auto;
    top: 2px !important;
  }
}

.addition-input {
  display: flex;
  align-items: center;
}

input.inputOnboarding {
  width: 100%;
  height: 40px;
  padding-bottom: 8px;
  background-color: initial;
  outline: none;
  filter: none;
  border: none;
  border-bottom: 1px solid #8692B4;
  cursor: pointer;
  color: #1A2D6B;
  z-index: 1;
  font-size: 18px;
  line-height: 1.4;
  font-family: "Manrope-Regular", sans-serif;
  border-radius: 0;
}
@media (min-width: 1280px) {
  input.inputOnboarding {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  input.inputOnboarding {
    font-size: 18px;
  }
}
input.inputOnboarding:focus, input.inputOnboarding:active {
  border-color: #00E2F8;
}
input.inputOnboarding::-moz-placeholder {
  font: 16px/1.4 "Manrope-Regular", sans-serif;
  color: #B8CCE3; /* Change the color to your preferred color */
}
input.inputOnboarding::placeholder {
  font: 16px/1.4 "Manrope-Regular", sans-serif;
  color: #B8CCE3; /* Change the color to your preferred color */
}
@media (min-width: 1440px) {
  input.inputOnboarding::-moz-placeholder {
    font-size: 18px;
  }
  input.inputOnboarding::placeholder {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  input.inputOnboarding::-moz-placeholder {
    font-size: 22px;
  }
  input.inputOnboarding::placeholder {
    font-size: 22px;
  }
}
input.inputOnboarding + p {
  font-family: "Manrope-Regular", sans-serif;
  color: #8692B4;
  font-size: 14px;
  line-height: 1.3;
}
@media (max-width: 740px) {
  input.inputOnboarding + p {
    font-size: 12px;
  }
}
input.inputOnboarding + p a {
  color: #1A2D6B;
  text-decoration: none;
  position: relative;
}
input.inputOnboarding + p a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1A2D6B;
  transition: transform 0.4s, transform-origin 0s;
  transform: scaleX(0);
  transform-origin: right center;
  height: 1px;
}
input.inputOnboarding + p a:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}

.padding-block {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 1280px) {
  .padding-block {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media (min-width: 1440px) {
  .padding-block {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (min-width: 1920px) {
  .padding-block {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}

.project-team {
  background-color: #F2F8FE;
}
.project-team h2 {
  max-width: 1010px;
}
.project-team h2, .project-team .members-list {
  margin-bottom: 40px;
}
@media (min-width: 1280px) {
  .project-team h2, .project-team .members-list {
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .project-team h2, .project-team .members-list {
    margin-bottom: 56px;
  }
}
@media (min-width: 1920px) {
  .project-team h2, .project-team .members-list {
    margin-bottom: 64px;
  }
}
.project-team .members-list .swiper {
  padding-top: 36px;
}
@media (min-width: 1440px) {
  .project-team .members-list .swiper {
    padding-top: 44px;
  }
}
@media (min-width: 1920px) {
  .project-team .members-list .swiper {
    padding-top: 56px;
  }
}
.project-team .members-list .swiper .swiper-slide.member-info {
  padding-top: 43px;
  padding-bottom: 66px;
}
@media (min-width: 1920px) {
  .project-team .members-list .swiper .swiper-slide.member-info {
    padding-bottom: 85px;
  }
}
.project-team .members-list .swiper .swiper-pagination {
  top: 0;
  text-align: left;
  bottom: auto;
}
.project-team .members-list .swiper .member-info__text {
  color: #485789;
}
.project-team .members-list .swiper .member-info__skill {
  color: #1A2D6B;
}

.project-team {
  overflow: hidden;
  width: 100%;
}
.project-team .section-container {
  position: relative;
  z-index: 1;
  width: auto;
}
.project-team .caseSwiperTeamOnboard {
  width: 100%;
}
.project-team .swiper.caseSwiperTeamOnboard {
  opacity: 0;
}
.project-team .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 1;
}
.project-team .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px !important;
}
.project-team .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2584F4;
}
.project-team .btn-main {
  width: 100%;
  max-width: 343px;
  text-align: center;
}
@media (min-width: 768px) {
  .project-team .btn-main {
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
  }
}

.transformed {
  background-color: #2584F4;
  padding: 80px 16px;
}
@media (min-width: 992px) {
  .transformed {
    padding: 0;
  }
}
.transformed-container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.transformed .transformed-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 992px) {
  .transformed .transformed-container {
    grid-template-columns: 28% auto 28%;
    text-align: center;
  }
}
.transformed .btn-call-to-action {
  width: -moz-max-content;
  width: max-content;
}
.transformed .cases-img-block {
  height: 100%;
  grid-area: 2/1/3/2;
  padding: 59px 0;
}
@media (min-width: 992px) {
  .transformed .cases-img-block {
    grid-area: auto;
    padding: 0;
  }
}
.transformed .cases-img-block img {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.transformed .code-block {
  padding: 59px 0;
  text-align: right;
  position: relative;
  grid-area: 2/1/3/2;
}
@media (min-width: 992px) {
  .transformed .code-block {
    padding: 89px 0;
    grid-area: auto;
  }
}
@media (min-width: 1440px) {
  .transformed .code-block {
    padding: 94px 0;
  }
}
@media (min-width: 1920px) {
  .transformed .code-block {
    padding: 98px 0;
  }
}
.transformed .code-block .clip-path-image {
  display: block;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .transformed .code-block .clip-path-image {
    text-align: right;
  }
  .transformed .code-block .clip-path-image::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background: url("/media/formstepper/logoVector.webp");
    background-position: center;
    background-size: 63%;
    background-repeat: no-repeat;
    z-index: 0;
    left: -51px;
  }
}
.transformed .code-block .clip-path-image img {
  position: relative;
  z-index: 3;
  width: 83%;
}
@media (min-width: 768px) {
  .transformed .code-block .clip-path-image img {
    width: 68%;
  }
}
@media (min-width: 1440px) {
  .transformed .code-block .clip-path-image img {
    width: 71%;
  }
}
@media (min-width: 1920px) {
  .transformed .code-block .clip-path-image img {
    width: auto;
  }
}
.transformed h2 {
  color: #ffffff;
  position: relative;
}
@media (min-width: 1280px) {
  .transformed h2 {
    margin-bottom: 48px;
  }
}
@media (min-width: 1440px) {
  .transformed h2 {
    margin-bottom: 56px;
  }
}
@media (min-width: 1920px) {
  .transformed h2 {
    margin-bottom: 64px;
  }
}
.transformed .main-block {
  position: relative;
  grid-area: 1/1/2/2;
}
@media (min-width: 992px) {
  .transformed .main-block {
    grid-area: auto;
  }
}
.transformed .main-block .show-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .transformed .main-block .show-arrow {
    top: auto;
    width: 38px;
    height: 38px;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
  }
  .transformed .main-block .show-arrow.active {
    opacity: 1;
    will-change: opacity;
    transition: all 0.5s ease;
  }
}
.transformed .main-block .show-arrow.left {
  left: 8%;
}
@media (max-width: 991px) {
  .transformed .main-block .show-arrow.left {
    transform: rotate(198deg);
  }
}
.transformed .main-block .show-arrow.right {
  right: 8%;
}
@media (max-width: 991px) {
  .transformed .main-block .show-arrow.right {
    transform: rotate(62deg);
    right: 36%;
    bottom: -23px;
    will-change: opacity;
  }
}
@media (max-width: 991px) {
  .transformed .bg-cases-img {
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.5s ease;
  }
  .transformed .bg-cases-img.active {
    opacity: 1;
    will-change: opacity;
    transition: all 0.5s ease;
  }
}
.transformed .title-info-light {
  font: 14px/1.3 "Manrope-Bold", sans-serif;
  letter-spacing: 3.36px;
  color: #ffffff;
  margin-bottom: 16px;
  text-transform: uppercase;
}
@media (min-width: 1280px) {
  .transformed .title-info-light {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1920px) {
  .transformed .title-info-light {
    font-size: 24px;
    margin-bottom: 32px;
  }
}
.transformed .title-block {
  max-width: 69%;
  margin-left: 0;
}
@media (min-width: 992px) {
  .transformed .title-block {
    margin: 0 auto;
  }
}
.transformed .btn-block {
  display: flex;
  justify-content: center;
}
.transformed .btn-block button {
  display: flex;
  align-items: center;
  gap: 8px;
}
.transformed .btn-block button:hover {
  cursor: pointer;
}
.transformed .btn-block button:hover svg path {
  stroke: #1A2D6B;
  transition: all 0.3s ease;
}
.transformed .btn-block.btn-desc {
  display: none;
}
@media (min-width: 992px) {
  .transformed .btn-block.btn-desc {
    display: flex;
  }
}
.transformed .btn-block.btn-mob {
  display: flex;
}
@media (min-width: 992px) {
  .transformed .btn-block.btn-mob {
    display: none;
  }
}/*# sourceMappingURL=onboarding.css.map */