$fontFamilyMainNew: 'Manrope-Regular',sans-serif;
$fontFamilyMediumNew: 'Manrope-Medium',sans-serif;
$fontFamilyLight: 'Manrope-Light',sans-serif;
$fontFamilyExtraLight: 'Manrope-ExtraLight',sans-serif;
$fontFamilySemiBold: 'Manrope-SemiBold',sans-serif;
$fontFamilyBoldNew: 'Manrope-Bold',sans-serif;

$mainText: #1A2D6B;
$hoverText: #2584F4;
$colorLight: #ffffff;
$secondColor: #00E2F8;
$subBgColor:#F2F8FE;
$subcolor:#485789;


%textDefault {
    font-family: $fontFamilyMainNew;
    font-size: 16px;
    line-height: 1.5;

    @media (min-width: 1440px) {
        font-size: 18px;
    }

    @media (min-width: 1600px) {
        font-size: 22px;
    }
}


* {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

.top-header {
    padding: 145px 0 24px 0;

    @media (min-width: 1280px) {
      padding-bottom: 121px;
      padding-bottom: 28px;
    }

    @media (min-width: 1440px) {
      padding-top: 182px;
      padding-bottom: 36px;
    }

    @media (min-width: 1920px) {
      padding-top: 214px;
      padding-bottom: 44px;
   
    }
}

.stepper {
    &__wrapper {
        max-width: 1271px;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        font: 32px/1.2 $fontFamilyLight;
         margin-bottom: 40px;
         color: $mainText;
 
         @media (min-width: 1280px) {
             font-size: 40px;
           }
     }
}


#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 32px;
 margin-bottom: 32px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

.btns-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#msform .action-button {
    background: $hoverText;
    color: $colorLight;
    border: 0 none;
    border-radius: 96px;
    border: 1px solid $hoverText;
    cursor: pointer;
    padding: 16px 48px;
    margin-left: auto;
    font: 22px/1.3 $fontFamilyMediumNew;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all .2s ease-in-out;
    &.next {
        &::after {
            content: '';
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url('/media/formstepper/common-icons/Arrow-next.svg') center/contain no-repeat;
        }

        &:hover, &:active {
            background-color: $mainText;
            transition: all .2s ease-in-out;
        }

        &:focus {
            border-color: transparent;
        }
    }
}

#msform .action-button:hover,
#msform .action-button:focus {
    border: 1px solid $mainText;
    transition: all .2s ease-in-out;
}

#msform .action-button-previous {
    display: none;
    background: $colorLight;
    color: $hoverText;
    border: 1px solid $hoverText;
    border-radius: 96px;
    cursor: pointer;
    padding: 16px 48px;

    font: 22px/1.3 $fontFamilyMediumNew;
    // display: flex;
    align-items: center;
    gap: 8px;
    transition: all .2s ease-in-out;

    svg path {
        stroke: $hoverText;
        transition: all .2s ease-in-out;
    }
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    color: $mainText;
    border: 1px solid $mainText;
    transition: all .2s ease-in-out;

    svg {
        path {
            stroke: $mainText;
            transition: all .2s ease-in-out;
        }
    }
}

.card {
    z-index: 0;
    border: none;
    position: relative;
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal;
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left;
}

.progress {
    height: 8px;
}



.fit-image {
    width: 100%;
    object-fit: cover;
}

.progress {
    display: flex;
    overflow: hidden;
    border-radius: 16px;
    background-color: #F2F8FE;
    margin-bottom: 40px;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: $hoverText;
    transition: width .6s ease;
}

.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}



label:not(.checkbox-add-text) {

	& > span {
		display: flex;
        gap: 10px;
        align-items: center;
		

       

        font: 22px/1.3 $fontFamilyMediumNew;
        color: $mainText;

	}
}

label {
	display: block;
    background-color: #F2F8FE;
    width: 100%;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;

	input {
		position: absolute;
        opacity: 0;
		&:checked + span {
            .radio-img::after {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }

            &:hover {
                .radio-img:before {
                    box-shadow: inset 0 0 0 0.125em $hoverText;
                }
            }
		}
	}

    & > span {
        padding: 32px;
        transition: 0.25s ease;
        position: relative;
        text-align: left;
    }

    &.checkbox-add-text {
        align-items: flex-start;
    }

    &.checkbox-add-text > span{
        display: grid;
        gap: 12px;
    }

    .checkbox__info {
        font: 22px/1.3 $fontFamilyMediumNew;
        color: $mainText;

    }
    .checkbox__info__add-info {
        font: 16px/1.44 $fontFamilyMainNew;
        color: $subcolor;
    }

}

#step6 label > span {
    align-items: flex-start;
}

.radio-img {
    position: relative;
    &:hover {
        &:before {
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em $mainText;
        }
    }


    &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $hoverText;
    }

    &::after {
        opacity: 0;
        content: '';
        width: 16px;
        height: 16px;
        background: $hoverText;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(0) translate(-50%, -50%);
        border-radius: 100%;
        transition: scale 0.2s ease;
    }
}

.formFieldset-wrapper {
    display: grid;
    grid-template-columns: auto 38.5%;
    align-items: flex-start;
    gap: 32px;
}

.fieldset {


    &__payment {
        background-color: #F2F8FE;
        padding: 48px;
        text-align: left;

        position: sticky;
        top: 10px;

        &__title {
            font: 32px/1.3 $fontFamilySemiBold;
            color: $mainText;
            margin-bottom: 32px;
            
        }

        &__summ {
            display: flex;
            align-items: center;
            gap: 16px;
            font: 64px/1.3 $fontFamilyLight;
            margin-bottom: 32px;
            color: $mainText;

            span {
                filter: blur(14px);
            }
        }

        &__tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 56px;
        }

        &__tag {
            @extend %textDefault;
            color: $mainText;
            padding: 8px 16px;
            border-radius: 16px;
            background-color: $colorLight;
        }

        &__info {
            padding: 32px;
            border-radius: 32px;
            background-color: $colorLight;
            text-align: center;

            p {
                font: 22px/1.3 $fontFamilyMediumNew;
                color: #8692B4;

                a {
                    color: $hoverText;
                    transition: all .2s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: $mainText;
                        transition: all .2s ease-in-out;
                    }
                }
            }
        }
    }


}


.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


.radius {
    border-radius: 24px;

    @media (min-width: 768px) {
        border-radius: 32px;
    }

    @media (min-width: 1920px) {
        border-radius: 40px;
    }
} 
  
  
  .checkbox {
    $block: &;
  
    cursor: pointer;
    display: flex;
    align-items: center;
  
    &__input {
      position: absolute;
      width: 24px;
      height: 24px;
      opacity: 0;
      cursor: pointer;
  
      &:checked + span  #{$block}__icon .tick {
        opacity: 1;
        width: 100%;
        transition: all .2s ease-out;
        // transform: scale(1);
      }
    }
  
    &__icon {
        width: 24px;
        height: 24px;
      flex-shrink: 0;
      overflow: visible;
      position: relative;
  
      .tick {
        position: absolute;
        opacity: 0;
        width: 0;
        // transform: scale(0.5) translate(50%, 50%);
        transition: all .2s ease-out;
      }
    }

    &__label {
        display: flex;
        align-items: center;
    }
  }

  //from main

  .main-banner {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 233px;
    position: relative;
    padding-bottom: 48px;

    @media (min-width: 1921px) {
        max-width: 100%;
    }

    @media (max-width: 1600px) {
        padding-top: 141px;
    }

    @media (max-width: 1350px) {
        padding-top: 137px;
    }



    @media (max-width: 991px) {
        height: max-content;
        padding-top: 123px;
    }

    @media (max-width: 767px) {
        padding-top: 104px;
    }


    &.section-container {
        overflow: hidden;
    }

    .img-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100vh;
        height: 100%;
        width: 49%;
        z-index: -1;
        max-width: 944px;
        overflow: hidden;



        @media  (max-width: 991px) {
            height: auto; 
            order: 1;
            margin-bottom: 37px;
            width: calc(100% + 36px);
            left: -18px;
            position: relative;
            min-height: auto;
        }

        @media  (max-width: 767px) {
            margin-bottom: 30px;
        }
        img {
            min-height: 100%;
            min-width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            @media  (max-width: 991px) {
            width: 100% ;
            }
        }


    }

    .main__flex-line {

        @media (max-width: 991px) {
            display: flex;
            flex-direction: column;
        }
        .main-info {

            @media (max-width: 991px) {
                order: 0;
            }

            .title-wrapper {
                position: relative;
                z-index: 10;
            }

            p {
                margin-bottom: 16px;

                
                 @media (max-width: 1600px) {
                 letter-spacing: 4.32px;
                }

                @media (max-width: 1350px) {
                    letter-spacing: 3.36px;
                }

                @media (max-width: 991px) {
                    margin-bottom: 8px;
                }
            }

           h1 {
            max-width: 879px;
            margin-bottom: 54px;
            width: 50%;

            @media (max-width: 1600px) {
             width: 40%;
             margin-bottom: 44px;
            }

            @media (max-width: 1350px) {
                margin-bottom: 36px;
            }

            @media (max-width: 1200px) {
                width: 50%;
            }

            @media (max-width: 767px) {
                margin-bottom: 16px;
                width: 100%;
            }
           } 


        }

    }

    .btn-call-to-action {
        display: block;
        width: max-content;
        font: 22px/1.2  'Manrope-Medium', sans-serif;
        color: $hoverText;
        border: 2px solid $hoverText;
        background-color: $colorLight;
        border-radius: 96px;
        padding: 17px 46px;
        transition: all .3s ease;
        position: relative;
        z-index: 1;


        
        @media (max-width: 1600px) {
                font-size: 18px;
            }

        @media (max-width: 1350px) {
            font-size: 16px;
            padding: 12px 31px;
        }

        @media (max-width: 991px) {
            font-size: 18px;
            padding: 15px 31px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            height: 56px;
            width: 85%;
            max-width: 263px;
            height: max-content;
        }

        &:hover, &:focus {
            border-color: #1A2D6B;
            transition: all .3s ease;
            color: #1A2D6B;
        }
       }

    .featured-in {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        @media (max-width: 1100px) {
            position: static;
        }
        @media (max-width: 767px) {
            display: none;
        }

    }

    .featuredSwiper {
        display: none;
        @media (max-width: 767px) {
            display: block;
        }

        .swiper-wrapper {
            align-items: center; 
        }

    }

    .featured-in__item {

       &:not(:last-child) {
            margin-right: 56px;

            @media (max-width: 1600px) {
                margin-right: 38px;
            }

            @media (max-width: 1350px) {
                margin-right: 20px;
            }
        }
    }
}

.title-info {
    font: 24px/1.2 $fontFamilyBoldNew;
    color: $hoverText;
    letter-spacing: 5.76px;
    text-transform: uppercase;
                    
    @media (max-width: 1600px) {
        font-size: 18px;
        letter-spacing: 4.32px;
       }

       @media (max-width: 1350px) {
           font-size: 14px;
           letter-spacing: 3.36px;
       }
}

.section-container{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 197px;
    width: 100%; //17.07

    @media (max-width: 1600px) {
        padding: 0 112px;
    }


    @media (max-width: 1250px) {
        padding: 0 56px
    }

    @media (max-width: 991px) {
        padding: 0 16px;
    }
}

h1 {
    font: 88px/1.1 'Manrope-Light';
    color: $mainText;

    @media (max-width: 1600px) {
     font-size: 64px;
    }

    @media (max-width: 1350px) {
        font-size: 56px;
    }

    @media (max-width: 767px) {
        font-size: 39px;
    }
   } 

   .btn-main {
    display: block;
    height: max-content;
    width: max-content;
    background-color: $hoverText;
    border-radius: 96px;
    font-family: 'Manrope-Medium';
    font-size: 18px;
    color: $colorLight;
    padding: 17px 51px;
    box-shadow: none;
    border: none;

    @media (min-width: 1600px) {
        padding: 17px 48px;
        font-size: 22px;
    }

    &:hover {
        background-color: $mainText;
        cursor: pointer; 
    }
}

h2 {
    font: 32px/1.3 $fontFamilyLight;
    color: $mainText;

    @media (min-width: 992px) {
        font-size: 40px;      
    }

    @media (min-width: 1440px) {
        font-size: 48px;
    }

    @media (min-width: 1600px) {
        font-size: 64px;
    }
}

.checkbox-container * {
    box-sizing: border-box;
  }
  
  .checkbox-input {
    position: absolute;
    visibility: hidden;
  }
  
  .checkbox {
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .checkbox:not(:last-child) {
    margin-right: 6px;
  }
  
  .checkbox span {
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox span:first-child {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #F2F8FE;
    border-radius: 6px;
    transform: scale(1);
    transition: all 0.3s ease;

    @media (min-width: 1920px) {
        width: 30px;
        height: 30px;
    }

  }
  
  .checkbox span:first-child svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: transparent;
    opacity: 0.8;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transform: translate3d(-50%, -50%, 0);
    width: 12px;
    height: 10px;

    @media (min-width: 1920px) {
        width: 16px;
        height: 15px;
    }

    path {
        fill: transparent;  
    }
  }
  
  .checkbox span:last-child {
    padding-left: 19px;
    line-height: 18px;
    font: 16px/20.8px $fontFamilyMainNew;
    color: #F2F8FE;
    opacity: 0.8;
  }
  
  .checkbox-input:checked + .checkbox span:first-child {
    animation: zoom-in-out 0.3s ease;
  }
  
  .checkbox-input:checked + .checkbox span:first-child svg {
    stroke-dashoffset: 0;
  }
  
  @keyframes zoom-in-out {
    50% {
      transform: scale(0.9);
    }
  }



  .member-info {
    background-color: #F2F8FE;
    display: grid;
    column-gap: 16px;
    padding: 0;
    align-items: center;

    @media (min-width: 768px) {
        gap: 32px;  
        display: flex;  
    }


    &__main-info {
      flex-grow: 1;
      padding: 48px;
      background-color: #ffffff;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
    }

  }

  .swiper-slide.member-info {
    font-size: 18px;
    background: #fff;
    padding: 24px;
    text-align: left;
    border-radius: 24px;
    position: relative;
    display: grid;
    grid-template-rows: max-content max-content;

    @media (min-width: 768px) {
        padding: 32px;  
        display: block;
        border-radius: 40px;
    }

    
    @media (min-width: 1440px) {
        padding: 40px;
    }

    
    @media (min-width: 1600px) {
        padding-top: 48px;
        padding-bottom: 48px;
    }


    .member-info {


        &__photo {
            width: 80px;
            height: 80px;
            margin-bottom: 16px;

            @media (min-width: 991px) {
                width: 96px;
                height: 96px;
            }

            @media (min-width: 1440px) {
                width: 120px;
                height: 120px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__name {
            font: 22px/1.3 $fontFamilySemiBold;
            color: $mainText;
            margin-bottom: 8px;

            @media (max-width: 767px) {
                font-size: 20px;
            }

            
            @media (min-width: 1440px) {
                font-size: 24px;
            }

            @media (min-width: 1600px) {
                font-size: 32px;
            }
        }

        &__text {
            @extend %textDefault;
            margin-bottom: 24px;
        }

        &__title {
            font: 16px/1.3 $fontFamilyBoldNew;
            text-transform: uppercase;
            color: $mainText;
            margin-bottom: 8px;
            letter-spacing: 2.64px;

            @media (min-width: 1600px) {
                font-size: 22px;
            }
        }

        &__skills {

                display: flex;
                flex-wrap: wrap;
                gap: 8px;
        }

        &__skill {
            @extend %textDefault;
           background-color: #F2F8FE;
           border-radius: 16px;
           padding: 8px 16px; 
        }
      }
  }

.members-list {
    position: relative;
    width: 100%;

}

.section__bg {
    animation: 0s linear 0s infinite normal none running jVXNyX;
    backface-visibility: hidden;
    height: 0px;
    position: absolute;
    top: calc(6rem);
    transform-origin: center center;
    width: 120%;
    z-index: 
    1;


    overflow: visible;
    position: relative;

    .section__bg__item {
        left: 50%;
        position: absolute;
        top: 0px;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        margin: 0px;
        padding: 0px;
        border: 0px;
        font: inherit;
        vertical-align: baseline;

        &:nth-child(1)  {
            width: 100%;
            right: -106%;
           
            left: auto;
            transform: translateX(-38%) translateY(-58%);

            @media (min-width: 768px) {
                width: 41%;
                right: -20%;
            }
        }

        &:nth-child(2)  {
            width: 100%;
            left: -22px;
            transform: translateX(-38%) translateY(-45%);

            @media (min-width: 768px) {
                width: 41%;
                left: 0;
            }
        }

        &:nth-child(1) .bg-item {
            background: url("../../../../../media/img/ellipse1.png") center/cover no-repeat;
            animation: 10s linear 0s infinite normal none running jVXNyXLeft;
            
        }

        &:nth-child(2) .bg-item {
            background: url("../../../../../media/img/ellipse2.png") center/cover no-repeat;
            animation: 10s linear 0s infinite normal none running jVXNyXRight;
        }
    }

    .bg-item {
        display: block;
        height: 0px;
        padding-bottom: 100%;
        background-size: cover;
        overflow: visible;
        transform-origin: center center;
        width: 100%;
        margin-left: -10%;
        backface-visibility: hidden;
        
        &.item-reverse {
            animation-direction: reverse;
            margin-left: 10%;
        }
    }
  }

  @keyframes jVXNyXRight {
    0% {
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
    }

    20% {
        transform: rotate(0deg) translate3d(10%, 50px, 0px);
    }

    40% {
        transform: rotate(0deg) translate3d(40%, 50px, 0px);
    }


    60% {
        transform: rotate(0deg) translate3d(80%, 50px, 0px);
    }

    80% {
        transform: rotate(0deg) translate3d(40%, 50px, 0px);
    }

    100% {
        transform: rotate(0) translate3d(0px, 0px, 0px);
    }
  }

  @keyframes jVXNyXLeft {
    0% {
        transform: rotate(0deg) translate3d(0px, 0px, 0px);
    }

    20% {
        transform: rotate(0deg) translate3d(-10%, 50px, 0px);
    }

    40% {
        transform: rotate(0deg) translate3d(-40%, 50px, 0px);
    }


    60% {
        transform: rotate(0deg) translate3d(-80%, 50px, 0px);
    }

    80% {
        transform: rotate(0deg) translate3d(-40%, 50px, 0px);
    }

    100% {
        transform: rotate(0) translate3d(0px, 0px, 0px);
    }
  }

//end from main


.onboarding.pl-site.main-banner {
    padding-bottom: 0;
    min-height: calc(100vh - 233px);


  

.title-info {
margin-bottom: 32px;
}
}

.onboarding__add-info {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 48px;
    .onboarding__time {
        display: flex;
        align-items: center;

        font: 40px/1.3 $fontFamilyLight;
        color: $mainText;
        &::before {
            content: '';
            display: inline-block;
            width: 48px;
            height: 48px;
            background: url("/media/formstepper/common-icons/Time.svg") center/cover no-repeat;
            margin-right: 8px;
        }

        & + p {
            @extend %textDefault;
            color: $subcolor;
            max-width: 305px;

            b {
                color: $mainText;
                font: $fontFamilyMediumNew;
            }
        }
    }

}

.onboarding {
    .btn-block {
        button {
            display: flex;
            align-items: center;
            gap: 8px;
            &::after {
                content: '';
                width: 32px;
                height: 32px;
                display: inline-block;
                background: url("/media/formstepper/common-icons/Arrow-next.svg");
            }
        }
    }
}

// body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }

.thank-you-page {
    .title-info {
        letter-spacing: 2.64px;  
    }

    h2, h2 + p {
        max-width: 100%;

        @media (min-width: 1280px) {
            max-width: 699px;
        }

        @media (min-width: 1920px) {
            max-width: 879px;
        }
       
    }

    h2 {
        margin-bottom: 12px;

        @media (min-width: 1440px) {
            margin-bottom: 16px;
        }

        @media (min-width: 1920px) {
            margin-bottom: 24px;
        }

        & + p {
            @extend %textDefault;
            color: $subcolor;
            margin-bottom: 24px;

            @media (min-width: 992px) {
                margin-bottom: 48px;
            }

            @media (min-width: 1440px) {
                margin-bottom: 56px;
            }

            @media (min-width: 1920px) {
                margin-bottom: 64px;
            }

            a {
                color: $hoverText;
                font-family: $fontFamilyMediumNew;
                text-decoration: none;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    background-color: $hoverText;
                    transition: transform 0.4s, transform-origin 0s;
                    transform: scaleX(0);
                    transform-origin: right center;
                    height: 1px;
                }

                &:hover {
                    &::before {
                        transform: scaleX(1);
                        transform-origin: left center;
                    }
                }
            }
        }
    }

    .contact-block {
        display: grid;
        width: 67%;
        grid-template-columns: minmax(336px, 38.5%) auto;
        gap: 24px;
        align-items: flex-start;

        @media (min-width: 1920px) {
            gap: 32px;
        }
    }

    .contacts-form  .formError + input {
        border-bottom: 1px solid #E83E30 !important;
    }



    .contacts-form {
       
            .input-wrapper {
                display: grid;
                row-gap: 12px;
                margin-bottom: 32px;
                position: relative;
    
                @media (max-width: 1440px) {
                    margin-bottom: 24px;
                }
    
                @media (max-width: 1100px) {
                    margin-bottom: 14px;
                }
    
                @media (max-width: 740px) {
                    margin-bottom: 16px;
                }
            }
    
            .contacts-form-label {
                font-family: $fontFamilyMediumNew;
                font-size: 22px;
                line-height: 1.3;
                color: $mainText;
                background-color: transparent;
                @media (max-width: 1440px) {
                    font-size: 18px;
                }
    
                @media (max-width: 740px) {
                    font-size: 16px;
                }
            }
    
            input{
                height: 40px;
                padding-bottom: 8px;
                background-color: initial;
                outline: none;
                filter: none;
                border: none;
                border-bottom: 1px solid #8692B4;
                cursor: pointer;
                color:$mainText;
                z-index: 1;
                font-size: 18px;
                line-height: 1.4;
                font-family: $fontFamilyMainNew;
                border-radius: 0;
    
                @media (min-width: 1280px) {
                    font-size: 16px;
                }
    
                @media (min-width: 1440px) {
                    font-size: 18px;
                }
    
    
                &:focus, &:active {
                    border-color: #00E2F8;  
                }
    
                &::placeholder {
                    font: 16px/1.4 $fontFamilyMainNew;
                    color: #8692B4; /* Change the color to your preferred color */
    
                    @media (min-width: 1440px) {
                        font-size: 18px;
                    }
                    @media (min-width: 1920px) {
                        font-size: 22px;
                    }
                  }
    
    
    
                & + p {
                    font-family: $fontFamilyMainNew;
                    color: #8692B4;
                    font-size: 14px;
                    line-height: 1.3;
    
                    @media (max-width: 740px) {
                        font-size: 12px;
                    }
    
                    a {
                        color:$mainText;
                        text-decoration: none;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            background-color: #1A2D6B;
                            transition: transform 0.4s, transform-origin 0s;
                            transform: scaleX(0);
                            transform-origin: right center;
                            height: 1px;
                        }

                        &:hover {
                            &::before {
                                transform: scaleX(1);
                                transform-origin: left center;
                            }
                        }
                    }
                }
            }
    
            .add-text {
                height: 23px;
    
                @media (max-width: 740px) {
                    height: 19px;
                }
            }
    
            .checkbox {
                font-family: $fontFamilyMainNew;
                font-size: 22px;
                line-height: 1.4;
                color: $subcolor;
                background-color: transparent;
    
                a { 
                    color: $hoverText;
                    position: relative;
                    text-decoration: none;
                    
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: $hoverText;
                        transition: transform 0.4s, transform-origin 0s;
                        transform: scaleX(0);
                        transform-origin: right center;
                        height: 1px;
                    }
    
                        &:hover::before {
                            transform: scaleX(1);
                            transform-origin: left center;
                        }
                
                }

                span:last-child {
                    color: $subcolor; 
                }
                .checkmark {
                    border-color: $subcolor;
                    padding:  0;
    
                    @media (max-width: 740px) {
                        width:24px;
                        height: 24px;
                    }
    
                    svg {
                        stroke-dashoffset: 16px;
                        animation: slide-in 1s forwards;
                        transition: all 0.3s ease-in-out;
                    }

                    & + span {
                        padding: 0;
                    }
                }
    
    
                &.checkbox-checked {
                    .checkmark {
                        border-color: $hoverText;
    
                        svg {
                            stroke-dashoffset: 0;
                        }
                        svg path{
                            fill: $hoverText;
                        }
                    }
                }
       
            }
    
            .checkbox span:last-child {
                opacity: 1;
                padding-left: 8px;
              }
    
    
              .contact-form-btn {
                display: flex;
                align-items: center;
                gap: 10px;
                color:$colorLight;
                background-color: $hoverText;
                padding: 18px 48px;
                border-radius: 96px;
                font-family: $fontFamilyMediumNew;
                font-size: 22px;
                line-height: 1.2;
                width: max-content;
                justify-content: center;
    
                @media (max-width: 1440px) {
                    font-size: 18px;
                }
    
                @media (max-width: 740px) {
                    width: 100%;
                    text-align: center;
                }
    
                &:hover {
                    background-color: $mainText;
                    cursor: pointer;
                }
    
                &.processing {
                    background-color: #D0E6FF;
                    color: #485789;
    
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 29px;
                        height: 29px;
                        background: url('../../../../../media/img/preloader.svg') center/contain no-repeat;
                    }
                }
              }

              .checkbox-container {
                position: relative;
                .formError {  
                    bottom: -32px;
                    top: auto !important;
                    left: 8px !important;
            
                    @media (max-width: 1100px) {
                        bottom: auto;
                        top: 2px !important;
                    }
                }
              }
    
    }
}

.padding-block {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 1280px) {
        padding-top: 96px;
        padding-bottom: 96px;
      }
  
      @media (min-width: 1440px) {
        padding-top: 120px;
        padding-bottom: 120px;
      }
  
      @media (min-width: 1920px) {
        padding-top: 128px;
        padding-bottom: 128px;
     
      }
}

.project-team {
    background-color: $subBgColor;

    h2 {
        max-width: 1010px;
    }

    h2,  .members-list {
        margin-bottom: 40px;

        @media (min-width: 1280px) {
            margin-bottom: 48px;
          }

        @media (min-width: 1440px) {
            margin-bottom: 56px;
          }
        
        @media (min-width: 1920px) {
            margin-bottom: 64px;
        }
    }

    .members-list .swiper{
        padding-top: 36px;

        @media (min-width: 1440px) {
            padding-top: 44px;
          }
        
        @media (min-width: 1920px) {
            padding-top: 56px;
        }

        .swiper-slide.member-info {
            padding-top: 43px;
            padding-bottom: 66px;

            @media (min-width: 1920px) {
                padding-bottom: 85px;
            }
        }

        .swiper-pagination {
            top: 0;
            text-align: left;
            bottom: auto;
        }
    }   
}

.project-team {
    overflow: hidden;
    width: 100%;
    .section-container {
        position: relative;
        z-index: 1;
        width: auto;
    }

    .caseSwiperTeamOnboard {
        width: 100%;
    }

    .swiper.caseSwiperTeamOnboard {
    opacity: 0;
}
}